.App {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  height: 100%;
  padding: 10px;
  background-color: #fff;
}

.btn-meet,
.btn-switch-user {
  height: 30px;
  text-decoration: none;
  background-color: rgb(51, 103, 214);
  border: 0;
  color: white;
  font-size: small;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 3px;
  padding: 5px;
  margin-top: 15px;
}

.meet-link-container{
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.clipboard-input{
  height: 30px;
  width: 80%;
  background: #f1f3f4;
  border-radius: 4px;
  padding-left: 12px;
  margin-right: 10px;
}

.meeting-org-name{
  position: fixed;
  bottom: 0;
  vertical-align: middle;
}

.current-user-img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.label-text{
  color: #444
}


